.app{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  font-size: 30px;
  height: 50px;
  background-color: green;
  border: 1px salmon;
  border-radius: 3px;
  width: 30%;
}

.animal-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}